doctype html
html
  head
    title RS Dance Acadamy
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/logo.jpg")
                | HDA
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/") Services ]
            li #[a(href="/") Class info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer
        |  Copyright © 2019 RS_Academy.com | All Rights Reserved 